{#
/**
 * @file
 * Theme implementation to display a divless paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('row row-space-large row-space-top-none') }}>
  <div class="inner-row">
    <div class="promo">
      {{ content }}
    </div>
  </div>
</div>