{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('accordion-item') }}>
  {{ content }}
</div>
