{#
/**
 * @file
 * Theme override for a facet block.
 */
#}
<div class="accordion-item">
  <h3 class="title"><a href="#" class="arrow-link block">{{ configuration.label }}</a></h3>

  <div class="copy">
    {{ content }}
  </div>
</div>